Source: ros-indigo-humanoid-planner-2d
Section: misc
Priority: extra
Maintainer: Armin Hornung <HornungA@informatik.uni-freiburg.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-gridmap-2d, ros-indigo-roscpp, ros-indigo-sbpl, ros-indigo-visualization-msgs
Homepage: http://ros.org/wiki/humanoid_planner_2d
Standards-Version: 3.9.2

Package: ros-indigo-humanoid-planner-2d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-geometry-msgs, ros-indigo-gridmap-2d, ros-indigo-roscpp, ros-indigo-sbpl, ros-indigo-visualization-msgs
Description: humanoid_planner_2d - provides a simple 2D path planner as wrapper around SBPL (ARA*, AD*, R*).
